img#footerImg {
	width: 100%;
	height: max-content;
	bottom: 0;
	position: fixed;
	border: 2;
}

img#coolText1 {
	-webkit-user-drag: none;
	height: fit-content;
	width: 10%;
	bottom: 0;
	position: fixed;
}

img#coolText2 {
	-webkit-user-drag: none;
		width: 10%;
	height: fit-content;
	bottom: 0;
	position: fixed;
}

.underline-text {
	background-image: url("../assets/underline.gif");
	background-repeat: repeat-x;
	background-position: bottom;
	background-size: 100% 1.75px;
	display: inline-block;
	-webkit-user-drag: none;
}
